body{
  padding: 0;
  margin: 0; 
  background-image: linear-gradient(rgba(162, 199, 156, 0.8), rgba(239, 235, 241, 0.7));
  
}
div p {
    font-family: 'Dancing Script', cursive;
    line-height: 30px;
    font-weight: bold;
}

.img-size{
    
    width: 300px;
    height: 180px;
 
   
  } 

 .col{
    padding: 25px;
    margin: 0 !important;
    position: relative;
 }

footer{
    color: white;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    position: absolute;
    width: 100%;
    bottom: 0;
  
}
section{
    padding:100px;
    height: 100%;
}
div.desc {
   
    padding: 10px;
    text-align: center;
    background-color: #4aaaa5;
    position: absolute;
    width: 300px;
    top: 130px;
    left: 25px;
    color:  #ffffff;
  }
